[Unit]
Description=Q Display Manager
After=systemd-user-sessions.service plymouth-quit-wait.service
#Conflicts=getty@tty3.service
After=getty@tty3.service

[Service]
Type=idle
ExecStart= /usr/bin/python /home/yobleck/qdm/qdm.py
#Slice=user.slice user-1000.slice session.slice
StandardInput=tty
StandardOutput=tty
StandardError=syslog
TTYPath=/dev/tty3
TTYReset=yes
TTYVHangup=yes

[Install]
Alias=display-manager.service
